// ==========================================================================
// MODULES > BOX DETAILED
// BOOTSTRAP.SCSS REQUIRED
// ==========================================================================

[class*="box-detailed"]
  position: relative

  .detail
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0

    &::before
      border-radius: 5px
      display: block
      content: " "
      width: 300px
      height: 300px
      border: 1px solid map-get($color-config, "orange")
      position: absolute

    &::after
      border-radius: 5px
      display: block
      content: " "
      width: 100%
      height: 100%
      background-color: map-get($color-config, "darker")
      position: absolute
      left: 0px
      top: 0px

  .content
    position: relative
    z-index: 5

    &::before
      border-radius: 5px
      display: block
      content: " "
      width: 20px
      height: 20px
      border: 1px solid map-get($color-config, "orange")
      position: absolute

  &[class*="box-detailed-left-top"]
    .detail
      &::before
        left: -5px
        top: -5px
    .content
      &::before
        left: 5px
        top: 5px
  &[class*="box-detailed-right-top"]
    .detail
      &::before
        right: -5px
        top: -5px
    .content
      &::before
        right: 5px
        top: 5px
